body {
  font-family: 'Darker Grotesque';
  margin: 0
}

.cinza {
  color: #808080;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px auto 0px auto;
  justify-content: space-between;
  padding: 0px auto 0px auto ;
  max-width: 1140px;
  grid-gap: 16px;
}

#logo{
  /* border: solid red 1px; */
  width: 70px;
  font-size: 60px;
  font-weight: 300;
  line-height: 1px;
  display: flex;
}

#nav-itens {
  align-items: center;
  width: 220px;
  display: flex;
  justify-content: space-between ;
  flex-direction: row;
}

.main-text-container {
  display: flex;
  flex-direction: column;
  width: 560px;
  overflow-wrap: break-word;
  justify-content: space-around;

}

.main-text {

  width: 600px;
  font-size: 89px;
  line-height: 70px;
}

.borda {
  border: solid red 1px;
}

#menu-grid-container  {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

.main {
  grid-column: 1 / 5;
  grid-row: 2 / 3;

}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.button-menu {
  display: flex;
  font-weight: 600;
}

.image {
  align-self: center;

}

#text-secundary {
  font-weight: 300;
  letter-spacing: 2px;
  width: 400px;
  font-size: 20px;

}

.main-button {
  border: #A4A4A4;
  width: 180px;
  height: 60px;
  background-color: #5B38E3;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.secundary-button {
  border: #A4A4A4 solid 2px;
  width: 180px;
  height: 60px;
  background-color: #FFFFFF;
  color: #202020;
  justify-content: space-around;
  align-items: center;
}

#button-container {
  display: flex;
  width: 380px;
  justify-content: space-between;

}

.roxo {
  color: #5B38E3
}

.cinza {
  color: #A4A4A4
}